  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">
    <script src="/animatedModal.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="style.css">
    <script>
     var socket = io.connect();
     socket.on('updatechat', function (username, data) {
     		$('#conversation').append('<b>'+username + ':</b> ' + data + '<br>');
     	});
  //     socket.on('connect', function(){
	// 	socket.emit('adduser', prompt("What's your name?"));
	// });
      socket.on('updaterooms', function(rooms, current_room) {
      		$('#rooms').empty();
      		$.each(rooms, function(key, value) {
      			if(value == current_room){
      				$('#rooms').append('<div>' + value + '</div>');
      			}
      			else {
      				$('#rooms').append('<div class="room"><a href="#" onclick="switchRoom(\''+value+'\')">' + value + '</a></div>');
      			}
      		});
      	});
        function switchRoom(room){
          socket.emit('switchRoom', room);
        }
        socket.on('users', function(usernames){
          console.log('in the users method');
          $.each(usernames, function(key, value){
            $('.users').append('<li id="user">'+ value + '</li>');
          })
        })
     $(function(){
       $('.chat-wrap').hide();

       $('#set-nick').submit(function(e){
         e.preventDefault();
         var username = $('#username').val();
         socket.emit('addUser', username);
         console.log(username);
         $('#nickname').val('');
         $('#logo').hide();
         $('.nick-wrap').hide();
         $('.chat-wrap').show();
       })
       // when the client clicks SEND
  		$('#datasend').click( function() {
  			var message = $('#data').val();
  			$('#data').val('');
  			// tell server to execute 'sendchat' and send along one parameter
  			socket.emit('sendchat', message);
  		});
  		// when the client hits ENTER on their keyboard
  		$('#data').keypress(function(e) {
  			if(e.which == 13) {
  				$(this).blur();
  				$('#datasend').focus().click();
  			}
  		});
      $('#room-name').submit(function(e){
          e.preventDefault();
          console.log('hello')
          var name = $('#room_name_input').val();
          console.log(name)
          socket.emit('create', name)
       });
     })
    </script>
  </head>
  <body>
    <div id="logo"><h1> Ramble </h1></div>
    <div class="nick-wrap">
      <div class="rainbow"></div>
      <h3>please enter a username</h3>
      <form id="set-nick">
        <input type="text" size="25" id="username">
        <input type="submit">
      </form>
    </div> 
  <div class="chat-wrap">
      <div class="side_bar">
        <h2> users currently online </h2>
        <ul class="users">
        </ul>
      </div>
      <div class="room-container">
      <h1> rooms </h1>
        <div id="rooms"></div>
        <p> create room </p>
        <div id="room creation"></div>
        <form id = "room-name">
          <input id="room_name_input"  type="text"/>
          <input type="submit"/>
        </form>
      </div>
    <section class="container">
      <div id="chat_box">
        <div id="conversation"></div>
          <p> chat away </p>
          <input id="data" style="width:200px;" />
          <input type="button" id="datasend" value="send" />
      </div>
    </section>
    </div>
  </body>
